.user-table {
	background-color: #e0e0e0;
	border-radius: 10px;
	width: 70% !important;
	margin-left: auto !important;
	margin-right: auto !important;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row {
	width: 100%;
}
#sort-info {
	text-align: center;
	width: 100%;
}

td img {
	border-radius: 5px;
}
